<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ get_env('VITE_APP_TITLE', 'PhysioApp') }}{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        <style>
            :root {
                --color-primary: {{ get_env('VITE_COLOR_PRIMARY', '#000000') }};
                --color-primary-light: {{ get_env('VITE_COLOR_PRIMARY_LIGHT', '#333333') }};
                --color-primary-dark: {{ get_env('VITE_COLOR_PRIMARY_DARK', '#000000') }};
                --color-primary-darker: {{ get_env('VITE_COLOR_PRIMARY_DARKER', '#000000') }};
                --color-btn-success: {{ get_env('VITE_COLOR_BTN_SUCCESS', '#00ff00') }};
                --color-btn-danger: {{ get_env('VITE_COLOR_BTN_DANGER', '#ff0000') }};
                --color-btn-secondary: {{ get_env('VITE_COLOR_BTN_SECONDARY', '#cccccc') }};
                --color-btn-info: {{ get_env('VITE_COLOR_BTN_INFO', '#0000ff') }};
                --color-calendar-appointment: {{ get_env('VITE_COLOR_CALENDAR_APPOINTMENT', '#abcdef') }};
                --color-calendar-other: {{ get_env('VITE_COLOR_CALENDAR_OTHER', '#fedcba') }};
                --color-calendar-text-other: {{ get_env('VITE_COLOR_CALENDAR_TEXT_OTHER', '#000000') }};
                --color-calendar-event-default: {{ get_env('VITE_COLOR_CALENDAR_EVENT_DEFAULT', '#123456') }};
            }
        </style>
        
        {{ vite_entry_link_tags('login') }}
        {{ vite_entry_script_tags('login', { dependency: 'react' }) }}
    </head>
    <body>
        <script>
            window.APP_TRANSLATIONS = {{ get_app_translations()|json_encode|raw }};
        </script>
        {% set props = {
            'loginCheckUrl': path('api_login_check'),
            'dashboardUrl': path('app_home', {'reactRouting': 'dashboard'})
        } %}
        <div id="login-app" data-props="{{ props|json_encode|e('html_attr') }}"></div>
    </body>
</html>
